@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gugi&family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #565656;
}
.navbar-brand {
    font-family: 'East Sea Dokdo', cursive;
    color: white;
    font-size: 40px;
    margin-left: 10%;
    
}
.navbar-nav a {
    color: white;
    font-family: 'Notable', sans-serif;

    
}
.navbar-nav {
    margin-right: 10%;
    
}
.dropdown-menu { 
    background-color: black;
   
    
}
.navbar-toggler {
    background-color: white;
    margin-right: 10%;
}

h1 {
    font-family:'Public Sans', sans-serif;
    font-size: 60px;
    color: white;
    padding-top: 15%;

}
h2{
    font-family:'Public Sans', sans-serif;
    font-size: 34px;
    color: #282C73;
    font-weight: 700;
    text-align: center;

}
.jumbotron {
    text-align: center;
    background-size: cover;
    background-position: center;
    height: auto;
    background-image: url('../images/jumbotron_img3.png');    
}

p {
    font-family:'Public Sans', sans-serif;
    color: white;
    padding-bottom: 15%;
    text-align: center;
}
p2 {
    font-family:'Public Sans', sans-serif;

}
.container_intro img {
    display: inline-block;
    width:100%;
    

}
.info {
    margin-top: 10%;
    margin-bottom: 10%;
}

.overview {
    text-align: center;
    margin-bottom: 10%;
}
hr {
    border: 3px solid #282C73;
    width: 300px;
    opacity: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 21px;
    
}

.problem {
    padding-bottom: 51px;
}

img {
    display: inline-block;
    width:100%;
    margin-bottom: 10%;
    
}

.user_test h2 {
    padding-top: 20%;
}

.list-group {
    text-align: left;
}
.UI {
    margin-top: 5%;
}
.UI_img {
    margin-top: 5%;
    
}
.redesign {
    
}
.quote h2 {
    margin-top: 61px;
    color: #EA2829;
    font-weight: 700;
}


.iteration h2 {
    color: #282C73; 
}
.card_img p {
    color: black;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: -10%;
}
.card_img img {
    margin-top: -5%;
}

.iteration .col-6 h2 {
    margin-top: -1%;
}

.typo h2 {
    padding-top: 10%;
}
.color h2 {
    padding-top: 30%;
}
.button {
    margin-bottom: 5%;
}

.desktop_test p {
    color:#EA2829;
    font-weight: 700;
    padding-bottom: 0;
    margin-top: 10%;
    font-size:20px;
}


.mobile_test p {
    color:#EA2829;
    font-weight: 700;
    padding-bottom: 0;
    margin-top: 30%;
    font-size:20px;
}

.mobile_test img {
    width: 198px;
    height: 444px;
}

.mobile_version {
    width: 214px;
    height: 444px;
}

.version p {
    color: black;
    font-weight: 700;
}
.takeaways .col-3 h2 {
    font-size: 24px;
}   

.last {
    width:1700px;
    margin-top: 10%;
    

}
.more_work {
    color: #282C73;
    font-family: 'Notable', sans-serif;
    margin-top: -10%;
}
h5 {
    font-family: 'Notable', sans-serif;
    font-size: 17px;
}
.card-text {
    color: black;
    font-family: 'Notable', sans-serif;
    font-size: 11px;
}
.card-deck .card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3%;
    margin-bottom: 10%;
    
}
footer {
    margin-top: auto;
    background-color: #565656;
    margin-bottom: -13% !important;
    display: cover;
    color: white;  
}
footer h1 {
    font-family: 'Notable', sans-serif;
    padding-bottom: 13%;
    padding-top:-5%; 
}
.contact {
    font-family: 'Notable', sans-serif;
    padding-bottom: 13%;
    color: white;
}
.footer {
    font-family: 'Notable', sans-serif;
    color: white;
    font-size: 40px;
    padding-left: 40px;
    
}


@media only screen and (min-width: 1200px) {
    .container_intro img {
        display: inline-block;
        width:100%;
    }
}
@media only screen and (max-width: 1200px) {

}